<?xml version="1.0"?>
<!--
  Usage:
    aubo_i5_bringup.launch robot_ip:=<value>
-->
<launch>
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip"/>
  <arg name="reverse_port" default="8887"/>
 
  <!-- robot model -->
  <include file="$(find aubo_description)/launch/aubo_i5_upload.launch"/>


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


  <!-- driver -->
  <node name="aubo_driver" pkg="aubo_driver" type="aubo_driver" args="$(arg robot_ip) $(arg reverse_port)" output="screen"/>


  <!-- Convert robot real joint states to /tf tranforms -->
  <node name="real_state_rviz" pkg="aubo_control" type="real_state_rviz"/>


  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aubo_description)/aubo_i5.rviz" />

</launch>

