<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="aubo_arm_transmission" params="prefix">

    <transmission name="${prefix}shoulder_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}shoulder_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}shoulder_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="${prefix}foreArm_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}foreArm_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}foreArm_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="${prefix}upperArm_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}upperArm_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}upperArm_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="${prefix}wrist1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}wrist1_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}wrist1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="${prefix}wrist2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}wrist2_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}wrist2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  
    <transmission name="${prefix}wrist3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}wrist3_joint">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${prefix}wrist3_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
