<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="i5l" >

  <!-- common stuff -->
  <xacro:include filename="$(find dexf_i5l_package)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find dexf_i5l_package)/urdf/aubo_i5L.urdf.xacro" />

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

</robot>

