<?xml version="1.0"?>
<launch>

  <param 
    name="robot_description" command="$(find xacro)/xacro --inorder '$(find aubo_description)/urdf/aubo_i5_robot.urdf.xacro'" />
  <node
    name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
 	<param name="state_publish_rate" type="double" value="1.0" />
	<param name="use_gui" value="true"/>
        <param name="rate" value="200"/>
  </node>

  <node
    name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
 
  <node
    name="rviz" pkg="rviz" type="rviz" args="-d $(find aubo_description)/aubo_i5.rviz" />

</launch>
