
<launch>

  <param 
    name="robot_description" command="$(find xacro)/xacro.py '$(find dexf_i5l_package)/urdf/aubo_i5L_robot.urdf.xacro'" />
  <node
    name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
 	<param name="state_publish_rate" type="double" value="1.0" />
	<param name="use_gui" value="true"/>
        <param name="rate" value="200"/>
  </node>

  <node
    name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
 
  <node
    name="rviz" pkg="rviz" type="rviz" args="-d $(find dexf_i5l_package)/aubo_i5.rviz" />

 <!-- Convert robot real joint states to /tf tranforms -->
  <node name="real_state_rviz" pkg="aubo_control" type="real_state_rviz"/>

</launch>
