<launch>
  <arg name="model" />
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find dexf_i5l_package)/urdf/robot_gripper_pedestal.xacro'" />
  <param name="use_gui" value="true"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" />
   <!--<node name="rviz" pkg="rviz" type="rviz" args="-d $(find dexf_i5l_package)/aubo_i5.rviz" required="true" />-->

</launch>